body {
    margin:0;
    padding:0;
    background: #FFFFFF;
}

.section {
    
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
    padding: 25px;
    margin: 0px;
    border-spacing:0; 
    display: flex;
    justify-content: center;

}

.row {
    width: 100%;
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    
}

.column {
    width: 50%;
    align-items: left;
}

.column2 {
    width: 50%;
    align-items: left;
    display: flex;
    justify-content: right;
}

.inner-column {
    padding-left:20px;
}

.img {
    width: 50%;
}
.img2 {
    width: 100%;
}

.button {
    background: #014ED5;
    border-radius: 5px;
    border-color:#FFFFFF;
    border-width: 0px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    padding-top: 10;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;

    color: #FFFFFF;
    }

.hero-section {
    padding-top: 50px;
    margin: 0px;
    border-spacing:0; 
    display: flex;
    justify-content: center;
    background: linear-gradient(96.57deg, #E8F1FF 26.99%, #F3F8FF 79.73%);


}

h1 {
    font-family: open sans;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: 0.03em;
    color: #0B2346;
}

h2 {
    font-family: open sans;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #0B2346;
     
}

h4 {
    font-family: open sans;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    font-family: open sans;
    line-height: 33px;
    letter-spacing: 0.03em;
}

p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.03em;
    color: #58595B;
}

.body-section {
    background: linear-gradient(180deg, #FAFCFE 0%, #FFFFFF 100%);;
    padding: 25px;
    margin: 0px;
    border-spacing:0; 
    justify-content: center;
    display:flex;

}

.container {
    width: 100%;
    
    }

.container1 {

    width: 100%;   
    
}

.container2 {
    width: 100%;
    display: flex;
    align-items: center;
}

.columnbox {
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 65%;
    align-items: center;
    padding: 50px;
    text-align: center;
}

h5 {
    font-family: open sans;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #0B2346;
    margin: 0px;
}

a, a:hover, a:focus, a:active {
    padding-top: 5px;
    font-family: open sans;
    text-decoration: none;
    color: inherit;
}

.column-names { 
    width: 95%;
    border-radius: 15px;
    margin: 15px;
    display: flex;
    justify-content: center;
  }