{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open Sans" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <title>Document</title>
</head>
<style>
    .navbar {
        overflow: hidden;
        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        width: 100%; /* Full width */
        z-index: 2;
        
        }
</style>
<body>
<!-- Navigation-->
<div class="section navbar">
    <div class="row">
        <div class= "column"><a href="{% url 'index' %}"> 
            <img src="{% static 'img/logo (4).png' %}" class ="img">
        </a></div>   
         
        <div class= "column2"> 
            <div class = "inner-column">
                <p><a href="{% url 'prescribers' %}"> Prescribers </a></p>
            </div>
            <div class = "inner-column">
                <p><a href="{% url 'drugs' %}"> Drugs </a></p>
            </div>
            <div class = "inner-column">
                <p><a href="{% url 'trends' %}"> Trends </a></p>
            </div>
            
        </div>    
    </div>   
</div>
{% block content %}
{% endblock %}
<!-- Footer-->
<!-- Footer-->
<footer class="footer">
    <div class="row" style="justify-content: center; margin-top: 50px;">
        <div class = "footer1">
            <div style="width: 80%; display:flex; ">
                <div style = "width:33%;">
                    <img src="{% static 'img/logo (4).png' %}" style ="width: 80%;">
                    <p style = "margin-top: 40px;">BYU Intex 2021</p>
                    <p>Section 2, Group 3</p>
                </div>
                <div class ="outer-footer-column">
                    <div style = "width:200px">
                        <h6>created by</h6>
                        <p style = "margin-top: 40px;">Bradford Huber</p>
                        <p>Jen Almond</p>
                        <p>Zac Holland</p>
                        <p>Camryn Cindrich</p>
                    </div>
                </div>
                
                <div class = "outer-footer-column">
                    <div >
                        <h6>menu</h6>
                        <p style = "margin-top: 40px;">Prescribers</p>
                        <p>Drugs</p>
                        <p>Trends</p>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
</body>
</html>