{% extends 'base.html' %}
{% block content %}
<!--Empty Div to Move Content Down-->
<div style = "margin-top: 50px;"></div>

<!--Page Title  -->
<div style = "display: flex; justify-content: center;">
    <div class = "column " style = "margin-left:15px; width: 60%;">
        <h2 style = " margin:0px;">Resources</h2>
        <p style = "text-align: center;">Take a look at the following articles for helpful information regarding the opioid epidemic and what you can do to help.</p>
    </div>
</div>


<!--Resources Content-->
<div style = "display: flex; justify-content: center;">
    <div style = "background: linear-gradient(96.57deg, #E8F1FF 26.99%, #F3F8FF 79.73%); width: 80%; border-radius: 10px;" >
        <div style = "display:block; padding: 50px;">
            
            <!--Resource Row-->
            <div style = "display:flex; margin-bottom: 100px;">
                <div style = "width: 40%;padding: 20px;background-image: url(https://www.hhs.gov/careers/sites/default/files/styles/large/public/images/180627013115-hhs-seal.jpg?itok=t-9ojEcK); border-radius: 10px;" >
                    
                </div>
                <div style = "width: 60%; padding-right:20px; padding-left: 50px;">
                    <h4 style = margin:0px;>Opioid Overdose Prevention</h4>
                    <p>U.S. Surgeon General Jerome M. Adams, M.D., M.P.H., released a public health advisory  to urge more Americans to carry a potentially lifesaving medication that can reverse the effects of an opioid overdose. The medication, naloxone, is already carried by many first responders, such as EMTs and police officers.</p>
                    <button style="padding-top:10px;" type="button" class="button" onclick = "window.location.href='https://www.hhs.gov/surgeongeneral/priorities/opioids-and-addiction/opioids-overdose-prevention/index.html'">Learn More</button>
                </div>
            </div> 
            
            <!--Resource Row-->
            <div style = "display:flex; margin-bottom: 100px;">
                <div style = "width: 40%;padding: 20px; background-repeat: no-repeat;
                background-size: cover; background-image: url(img/filler.jpeg); border-radius: 10px;">
                    
                </div>
                <div style = "width: 60%; padding-right:20px; padding-left: 50px;">
                    <h4 style = margin:0px;>Understanding the Epidemic </h4>
                    <p>The number of drug overdose deaths increased by nearly 5% from 2018 to 2019 and has quadrupled since 19991.  Over 70% of the 70,630 deaths in 2019 involved an opioid. From 2018 to 2019, there were significant changes in opioid-involved death rates:</p>
                    <button style="padding-top:10px;" type="button" class="button" onclick = "window.location.href='https://www.cdc.gov/opioids/basics/epidemic.html'">Learn More</button>
                </div>
            </div> 
            

            
        </div>
    </div>
</div>
{% endblock %}